// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #01010b;
$body-color: rgb(255, 255, 255);
$primary: #f57a05;
$secondary: #ffffff;

$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}

.socialrow {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  scroll-margin-top: 56px;
}

.socialrow h1 {
  margin-bottom: 30px;
}

.img-thumbnail {
  border-style: none;
}

.MyBodyFirst {
  margin-top: -56px;
}

.card {
  margin: 20px;
  border-radius: 15px;
}

.mylogo {
  transition: transform 0.5s;
  width: 100%;
}

.myimage {
  width: 100%;
}

.mylogo:hover {
  transform: rotate(8deg) scale(1.1);
}

.card-img-top {
  transition: transform 0.5s;
}

.card-img-top:hover {
  transform: scale(0.8);
}

.btn {
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.3);
}

.fische {
  width: 300px;
  transition: transform 0.5s;
}

.fische:hover {
  transform: rotate(-90deg);
}

#newfish {
  scroll-margin-top: 56px;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1513343041531-f73bffeed81b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  padding-bottom: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#credentials {
  scroll-margin-top: 56px;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
